{% extends 'base.html' %}
{% block content %}
{% include 'includes/alerts.html'%}
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 mt-3">
        {% for post in post %}
        <div class="card mt-4 mb-5">
            <div class="avatar-home">
                <div class="image-profile">
                    <img src="{{post.image.url}}" alt="profile picture" class="rounded-circle">
                </div>
                <div class="username">
                    <p><a href="">{{post.host.username}}</a></p>
                </div>
            </div>
            <hr>
            <img src="{{post.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{post.description}}</p>
                <span class="material-icons-outlined">
                    favorite
                    </span>
            </div>

            <div class="collapse" id="comments-{{post.id}}">
                <div class="card-body" id="comments-expanded-{{post.id}}"
                    style="padding-left: 20px;padding-right: 15px;padding-top: 5px;">
                    <h5>COMMENTS</h5>
                    {% for comment in post.comments.all %}
                    <div class="comments avatar-home">
                        <div class="image-profile ms-2">
                            <img src="{{post.image.url}}" alt="profile picture" class="rounded-circle">
                        </div>
                        <div class="username ms-2">
                            <p>@:<a href="">{{comment.user.username}}</a></p>
                        </div>
                        <div class="post ms-2">
                            <p>{{comment.body}}</p>
                        </div>
                        <div class="time_posted ms-auto d-flex justify-content-center align-items-center">
                            <small class="text-muted">Posted {{comment.date_posted|timesince}} ago</small>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>

            <p class="card-text">
                {% if post.comments.all.count > 0%}
                    <a href="#comments-{{post.id}}" role="button" data-bs-toggle="collapse">
                        <button class="btn  btn-outline-secondary btn-sm ">View {{post.comments.all.count}} Comments</button>
                    </a>
                {% else %}
                    <small class="text-muted">No comments</small>
                {% endif %}
            </p>


            <div class="form">
                <form action="{% url 'comments' post.id %}" method="POST"
                    style="padding-left: 20px;padding-right: 15px;padding-top: 5px; margin-bottom: 0.5rem">
                    {% csrf_token %}
                    <input type="text" name="comment" id="comment" class="form-control "
                        placeholder="Add a comment..." />
                </form>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="col-md-4">

    </div>
</div>

{% endblock %}