<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <!-- <div class="container"> -->
    <!-- style="margin-left: 5rem; margin-right: 5rem" -->
    <div class="container">
        <a class="navbar-brand" href="#" style="margin-left: 8rem;">Instagram</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 8rem;">
                <form class="d-flex justify-content-center align-items-center">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inbox</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Post</a>
                </li>
                <!-- shall be deleted -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">login</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Setting</a></li>
                        <li><a class="dropdown-item" href="#">Saved</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

</nav>